html {
	font-size: 18px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: .9rem;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: 200;
	margin: 0;
}

@function vw($target) {
	$vw-context: (1000*.01) * 1px;
	@return ($target/$vw-context) * 1vw;
}

b,
strong {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
