//
// Floats
//

body {
	background-color: $color-background;
}
.scrollBarFix{
	min-height: 101vh;
}
::-webkit-scrollbar {
	// display: none;
	background-color: black;
	width: 10px;

}
::-webkit-scrollbar-track {
	// display: none;
	background-color: white;

}
::-webkit-scrollbar-thumb {
	// display: none;
	background-color: #333333;

}
textarea::-webkit-input-placeholder{
	font-size: .75rem;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	padding: 5px 0 0 10px;
	color: #BDBDBD;
}

input {

	&::-webkit-input-placeholder {
		font-size: .75rem;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;

		color: #BDBDBD;
	}
	&:-moz-placeholder {
		font-size: .75rem;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;

		color: #BDBDBD;
	} /* Firefox 18- */
	&::-moz-placeholder {
		font-size: .75rem;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;

		color: #BDBDBD;
	} /* Firefox 19+ */
	&:-ms-input-placeholder {
		font-size: .75rem;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;

		color: #BDBDBD;
	}
	&:focus::-webkit-input-placeholder {
		color: transparent;
	}
	&:focus:-moz-placeholder {
		color: transparent;
	} /* Firefox 18- */
	&:focus::-moz-placeholder {
		color: transparent;
	} /* Firefox 19+ */
	&:focus:-ms-input-placeholder {
		color: transparent;
	} /* oldIE 😉 */
}

.container {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}
.wrapContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px 155px;
}
@media only screen and (min-width: 1370px) {
	.wrapContainer {
		margin: 0px 155px;
	}
}

@media only screen and (max-width: 1370px) {
	.wrapContainer {
		margin: 0px 75px;
	}
}

@media only screen and (max-width: 1205px) {
	.wrapContainer {
		margin: 0px 35px;
	}
}
@media only screen and (max-width: 1960px) {
	.wrapContainer {
		margin: 0px 10%;
	}
}
@media only screen and (max-width: 1080px) {
	.wrapContainer {
		margin: 0px 135px;
	}
	@media only screen and (max-width: 960px) {
		.wrapContainer {
			margin: 0px 75px;
		}
	}
	@media only screen and (max-width: 834px) {
		.wrapContainer {
			margin: 0px 30px;
		}
	}
}

.containerCenter{
	justify-content: center;
}
.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.float {
	&-left {
		float: left;
	}
	&-right {
		float: right;
	}
}

//
// Flex
//

.flex {
	display: flex;

	&-inline {
		display: inline-flex;
		min-width: 0;
	}

	&-row {
		flex-direction: row;
	}

	&-column {
		flex-direction: column;
	}

	&-align {
		&-stretch {
			align-items: stretch;
		}

		&-center {
			align-items: center;
		}

		&-start {
			align-items: flex-start;
		}

		&-end {
			align-items: flex-end;
		}

		&-baseline {
			align-items: baseline;
		}

		&-content {
			&-start {
				align-content: flex-start;
			}

			&-end {
				align-content: flex-end;
			}

			&-center {
				align-content: center;
			}

			&-between {
				align-content: space-between;
			}

			&-around {
				align-content: space-around;
			}

			&-stretch {
				align-content: stretch;
			}
		}

		&-items {
			&-center {
				align-items: center;
			}

			&-start {
				align-items: flex-start;
			}

			&-end {
				align-items: flex-end;
			}

			&-baseline {
				align-items: baseline;
			}

			&-stretch {
				align-items: stretch;
			}
		}
	}

	&-justify {
		&-center {
			justify-content: center;
		}

		&-end {
			justify-content: flex-end;
		}

		&-between {
			justify-content: space-between;
		}

		&-around {
			justify-content: space-around;
		}
	}

	&-wrap {
		flex-wrap: wrap;
	}

	&-no-wrap {
		flex-wrap: nowrap;
	}

	&-reverse-wrap {
		flex-wrap: wrap-reverse;
	}

	&-item {
		&-grow {
			flex: 1;
		}
		&-shrink {
			flex: 0;
		}
	}
}

//
// Display
//
.display {
	&-none {
		display: none;
		speak: none;
	}

	&-block {
		display: block;
		speak: normal;
	}

	&-inline {
		display: inline;
		speak: normal;
	}

	&-inline-block {
		display: inline-block;
		speak: normal;
	}
}

//
// Position
//

.position {
	&-fixed {
		position: fixed;
	}

	&-relative {
		position: relative;
	}

	&-absolute {
		position: absolute;
	}
}

// Locks page from scrolling when overlay is present
.noScroll {
	overflow: hidden !important;
}

// Page and Section headings and descriptions
.headingContainer{
	margin-top:42px;
	width: 100%;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	font-size: 14px;

}
.pageHeading{
	font-size:28px;
	font-weight: bold;
	margin-bottom: 8px;
	@media only screen and (max-width: 768px) {
		font-size: 16px;
	}
}

.pageDescription{
	max-width: 438px;
	font-size:18px;
	font-weight: 400;
	line-height: 24px;
	@media only screen and (max-width: 768px) {
		font-size: 14px;
	}
}

// Scroll Bar Effects
.scrollbarContainer{
	// background-color: black;
	width: auto;
	height: auto;


}
#scrollStyle::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
