.eboard {
	background-color: #F2F2F2;
	margin-top: 40px;
	// max-width: 1300px;
	display: flex;
	align-items: center;
	width: 100%;
	// padding-left: 6%;
	// padding-left: 10vw;
	// width: 90vw;
	// @include media ('>lg') {
	// 	padding-left: 102px;
	// 	width: 922px;
	// }

	@media screen and (max-width: 730px) {
		width: auto;
	}
	&-people {
		// margin-left: -23px;
		// display: flex;
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-between;
		display: grid;
		grid-template-columns: auto auto auto auto ;
		justify-items: center;
		justify-content: space-between;
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		// align-items: flex-start;
		// width: auto;

		@media screen and (min-width: 1140px) {
			grid-template-columns: auto auto auto auto;
		}

		@media screen and (max-width: 1750px) {
			grid-template-columns: auto auto auto;
			@media screen and (max-width: 1080px) {
				grid-template-columns: auto auto;
			}
		}
		@media screen and (max-width: 730px) {
			grid-template-columns: auto;
		}
	}
	&-content {
		max-width: 259px;
		@include media ('<md') {
			min-width: 70%;
		}
	}
	&-person {
		margin-bottom: 10vw;
		margin-left: 0;
		@include media ('>md') {
			margin-bottom: 70px;

		}
	}
	&-name {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.25rem;
		font-weight: 400;
		margin-top: 12px;
		margin-bottom: 18px;
	}
	&-title {
		text-transform: uppercase;
		color: $teal;
	}
	&-image {
		& img {
			width: 100px;
		}
		margin-right: 16px;
		padding-bottom: 8px;
	}
	&-bio {
		line-height: 1.25rem;
	}
}
.peoplesortingContainer{
	// max-width: 1130px;
	width: 100%;
	// height: 160px;
	border-radius: 10px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #41384B;
	font-size: 14px;
	text-align: center;
	@media only screen and (max-width: 580px) {
		flex-direction: column;
	}
}
.peopleHeading{
	color:#333333;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 12px;
	text-align: left;
}
.sortingLine{
	align-self: center;
	margin: 0 80px;
	width: 1px;
	background-color: #333333;
	height: 113px;

	@media only screen and (max-width: 1000px) {
		width: 2px;
		height: 152px;
	}
	@media only screen and (max-width: 660px) {
		width: 3px;
		height: 200px;
	}
	@media only screen and (max-width: 641px) {
		width: 3px;
		height: 200px;
	}
	@media only screen and (max-width: 580px) {
		display: none;
	}

}
.sortingContainer{
	display: flex;
	flex-direction: column;

}
.sortingContainer-button{
	background-color: #f2f2f2;
	padding:6px 20px;
	border-radius: 20px;
	font-weight: bold;
	line-height: 18px;
	height: 20px;
	font-size: 14px;
	color: #333333;
	border:#333333 1px solid;
	margin-right: 20px;
	margin-bottom: 14px;
	@media only screen and (max-width: 768px) {
		font-size: 12px;
		height: 15px;
		line-height: 14px;
	}

}
.sortingContainer-button:hover{
	cursor: pointer;
}
.sortingContainer-button:last-child{
	margin-right: 0px;
}
.sortingContainer-button:hover{
	color:#ffffff;
	background-color: #333333;

}
.sortingButtonsContainer{
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}
.sortingContainer-button-active{
	color:#ffffff;
	background-color: #333333;
}

.buttonContainer{
	display: flex;
	flex-direction: column;
}
.buttonPeople{
	width: 152px;
	height: 44px;
	border:#333333 1px solid;
	border-radius: 5px;
	margin-bottom:20px;
	line-height: 44px;
	@media only screen and (max-width: 768px) {
		font-size: 14px;
	}
}
.buttonPeople:hover{
	background-color:#333333;
	color: #ffffff;
	cursor: pointer;
}
.button_active__eboard {
	background-color:#333333;
	color: #ffffff;
}
.button_active__mentor {
	background-color:#333333;
	color: #ffffff;
}

.personInfo{
	position: relative;
	top: -64px;
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.name{
	font-weight:bold;
	font-size:26px;
	margin-bottom: 6px;
}
.title{
	font-weight:bold;
	font-size:14px;
	margin-bottom: 6px;
	width: 300px;
}
.description{
	font-weight:normal;
	font-size:16px;
	line-height:24px;
	text-align:left;
	width:308px;
	// padding-bottom: 15px;
}
.colorSwatch{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position:relative;
	top:0;
	background-color:lightpink;
	height:152px;
	width:346px;
}
.personCard{
	font-family: 'Open Sans', sans-serif;
	border-radius:10px;
	background-color:white;
	// height:auto;
	// max-height: 650px;
	height: 100%;
	// margin-bottom: 40px;
	// min-height: 485px;
	width:346px;
	color: #333333;

	// margin-left:23px;
	// margin-right:23px;
	// margin-right:46px;
	margin-bottom:64px;
}
@media only screen and (max-width: 1130px) {
	.personCard {
		width: 332px;
		// max-height: 558px;
		// min-height: 332px;
	}
	.colorSwatch{
		width: 332px;
	}
	.description{
		width: 278px;
	}
}
.photo{
	z-index:100;
	border-radius:100%;
	// background-color:black;
	left: 97px;
	position:relative;
	top:-74px;
	width:152px;
	height:152px;
	margin:0 auto;

}

.mentorTag{
	background-color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	padding:4px 11px;
	border-radius: 20px;
	font-weight: bold;
	height: 20px;
	color: #333333;
	border:#333333 1px solid;
	margin-right: 16px;
	margin-bottom: 10px;
}

.tagContainer{

	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	height: auto;
	justify-content: center;
	align-self: center;
}

@media only screen and (max-width: 770px) {
	.personCard {
		width: 327px;
		// max-height: 558px;
		// min-height: 332px;
		height: auto;
	}
	.colorSwatch{
		width: 327px;
	}
	.description{
		width: 278px;
	}
}
@media only screen and (max-width: 730px) {
	.personCard {
		width: 346px;
		// max-height: 558px;
		// min-height: 332px;
		height: auto;
	}
	.colorSwatch{
		width: 346px;
	}
	.description{
		width: 278px;
	}
}
.deactivateButtons{
	background-color: #C4C4C4;
	color: #ffffff;
	pointer-events: none;
	border: #c4c4c4 solid 1px;
}
.deactivateButtons:hover{
	background-color: #C4C4C4;
	color: #ffffff;
	pointer-events: none;
	border: #C4C4C4 solid 1px;
}
.deactivateHeader{
	color: #C4C4C4;
}
.alumniLinkContainer{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}
.alumniLink{
	width: inherit;
	text-align: center;
	color: #333333;
	line-height: 30px;
}

.alumniCardHeight{
	max-height: 450px;
}
