.eboard {
	background-color: #F2F2F2;
	margin: 80px 0 0 0;
	padding-left: 6%;
	padding-left: 10vw;
	width: 90vw;
	@include media ('>lg') {
		padding-left: 102px;
		width: 922px;
	}
	&-people {
		margin-top: 40px;
	}
	&-content {
		max-width: 259px;
		@include media ('<md') {
			min-width: 70%;
		}
	}
	&-person {
		margin-bottom: 10vw;
		margin-left: 0;
		@include media ('>md') {
			margin-bottom: 70px;

		}
	}
	&-name {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.25rem;
		font-weight: 400;
		margin-top: 12px;
		margin-bottom: 18px;
	}
	&-title {
		text-transform: uppercase;
		color: $teal;
	}
	&-image {
		& img {
			width: 100px;
		}
		margin-right: 16px;
		padding-bottom: 8px;
	}
	&-bio {
		line-height: 1.25rem;
	}
}
.buttonContainer{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #41384B;
	font-size: 12px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 50px;
	text-align: center;
	line-height: 40px;
}
.buttonPeople{
	width: 125px;
	height: 40px;
	margin-left: 16px;
}
.buttonPeople:hover{
  background-color:#E1E7E3;
  cursor: pointer;
}
.button_active__eboard {
  background-color:#E1E7E3;
  border: 0px solid black;
}
.button_active__mentor {
  background-color:#E1E7E3;
  border: 0px solid black;
}