.email {
	&-container {
		background-color: #E0E0E0;
		max-width: 1130px;
		margin: 0;
		height: 88px;
		border-radius: 10px;
		margin: 0 auto;
	}

	&-button {
		background: #BB6BD9;
		text-transform: uppercase;
		letter-spacing: .05em;
		font-size: .75rem;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600;
		padding: 0px 20px;
		color: #ffffff;
		height: 40px;
		border: none;
		border-radius: 5px;
		box-shadow: 0px 5px 21px rgba(167, 167, 167, 0.72);
		cursor: pointer;
		&-container {
			cursor: pointer;
		}
		&-container:hover .email-adam {
			margin-top: -80px;
		}
	}


	&-adam {
		position: absolute;
		margin-left: 10px;
		margin-top: -68px;
		transition: ease-in-out .1s;
	}

	&-input {
		width: 300px;
		height: 40px;
		border: none;
		margin-right: 21px;
		padding-top: 0px;

		border-radius: 5px;
		@include media ('<md') {
			width: 50vw;
			margin-right: 2vw;
		}
	}
}

input[placeholder] {
	color: #241F29;
	@include media ('<md') {
		padding-left: 5px;
	}
}


input::placeholder {
	padding-left: 20px;
	color: #241F29;
	@include media ('<md') {
		padding-left: 5px;
	}
}
