.footerContainer {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	background-color: #ffffff;
	height: 130px;
	// position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 5px;
}
.footerBackground{
	width: 100%;
	background-color: #ffffff;
	margin-top: 100px;
}
.footerHeader{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
	font-size: 16px;

}
.footerSocial{
	display: flex;
	flex-direction: column;
	margin-right: 50px;
	justify-content: space-evenly;
}
.footerContact{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}
.footerTextContainer{
	display: flex;
	flex-direction: row;
	@media only screen and (max-width: 730px) {
		width: inherit;
		justify-content: space-around;
	}
}
.footerSubText{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	line-height: 18px;
	font-size: 12px;

	color: #C2C2C2;
}
.footerLogo img{
	width: 158px;
}
.footerLogo{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	@media only screen and (max-width: 730px) {
		display: none;
	}
}

.footerSpacer{
	height: 28px;
}
.footerLink{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	line-height: 18px;
	font-size: 12px;
	color: #C2C2C2;
	margin-right: 10px;
}
